In [3]:
import pandas as pd

dataset = pd.read_csv('data/MovieLens/dates.csv')
movies = pd.read_csv('data/MovieLens/movies.csv')
ratings1 = pd.read_csv('data/MovieLens/ratings1.csv')
ratings2 = pd.read_csv('data/MovieLens/ratings2.csv')

In [7]:
movies['title'].nunique()
ratings1['userId'].nunique()

274

In [14]:
dataset['date'] = pd.to_datetime(dataset['date'])
dataset['year'] = dataset['date'].dt.year
dataset['year'].mode()

0    2000
Name: year, dtype: int32

In [16]:
ratings = pd.concat([ratings1, ratings2], ignore_index=True)
display(ratings)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]