In [2]:
import pandas as pd

dataset = pd.read_csv('data/MovieLens/dates.csv')
movies = pd.read_csv('data/MovieLens/movies.csv')
ratings1 = pd.read_csv('data/MovieLens/ratings1.csv')
ratings2 = pd.read_csv('data/MovieLens/ratings2.csv')

In [3]:
movies['title'].nunique()
ratings1['userId'].nunique()

274

In [4]:
dataset['date'] = pd.to_datetime(dataset['date'])
dataset['year'] = dataset['date'].dt.year
dataset['year'].mode()

0    2000
Name: year, dtype: int32

In [5]:
ratings = pd.concat([ratings1, ratings2], ignore_index=True)
display(ratings)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

In [6]:
ratings = ratings.drop_duplicates(ignore_index=True)
print('–ß–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ratings: ', ratings.shape[0])
# –ß–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ratings: 100836

–ß–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ –≤ —Ç–∞–±–ª–∏—Ü–µ ratings:  100836

In [7]:
ratings_dates = pd.concat([ratings, dataset], axis=1)
display(ratings_dates.tail(7))

        userId  movieId  rating                date  year
100829     610   164179     5.0 2017-05-03 21:07:11  2017
100830     610   166528     4.0 2017-05-04 06:29:25  2017
100831     610   166534     4.0 2017-05-03 21:53:22  2017
100832     610   168248     5.0 2017-05-03 22:21:31  2017
100833     610   168250     5.0 2017-05-08 19:50:47  2017
100834     610   168252     5.0 2017-05-03 21:19:12  2017
100835     610   170875     3.0 2017-05-03 21:20:15  2017

In [8]:
import pandas as pd

items_df = pd.DataFrame({
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
            'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
            'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
        })

purchase_df = pd.DataFrame({
            'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
            'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
        })


# 1. –û–±—ä–µ–¥–∏–Ω–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü –ø–æ item_id
merged = items_df.merge(purchase_df, on='item_id', how='inner')
display(merged)
temp = merged.copy()

temp['total_price'] = merged['price'] * merged['stock_count']

# 2. –†–∞—Å—á—ë—Ç –æ–±—â–µ–≥–æ –¥–æ—Ö–æ–¥–∞ (—Ç–æ–ª—å–∫–æ –ø–æ —Å–æ–≤–ø–∞–≤—à–∏–º item_id)
income = temp['total_price'].sum()

print(income)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

19729490

# new file csv merged

In [9]:
total_movies = pd.read_csv('data/MovieLens/ratings_movies.csv')
total_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [10]:
#–±–∏–±–ª–∏–æ—Ç–µ–∫–∞ –¥–ª—è —Ä–µ–≥—É–ª—è—Ä–Ω—ã—Ö –≤—ã—Ä–∞–∂–µ–Ω–∏–π
import re 
def get_year_release(arg):
    #–Ω–∞—Ö–æ–¥–∏–º –≤—Å–µ —Å–ª–æ–≤–∞ –ø–æ —à–∞–±–ª–æ–Ω—É "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # –ø—Ä–æ–≤–µ—Ä—è–µ–º —á–∏—Å–ª–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π
    if len(candidates) > 0:
        #–µ—Å–ª–∏ —á–∏—Å–ª–æ –≤—Ö–æ–∂–¥–µ–Ω–∏–π –±–æ–ª—å—à–µ 0,
	#–æ—á–∏—â–∞–µ–º —Å—Ç—Ä–æ–∫—É –æ—Ç –∑–Ω–∞–∫–æ–≤ "(" –∏ ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #–µ—Å–ª–∏ –≥–æ–¥ –Ω–µ —É–∫–∞–∑–∞–Ω, –≤–æ–∑–≤—Ä–∞—â–∞–µ–º None
        return None

–ó–∞–¥–∞–Ω–∏–µ 8.1
1 point possible (graded)
–°–æ–∑–¥–∞–π—Ç–µ –≤ —Ç–∞–±–ª–∏—Ü–µ –Ω–æ–≤—ã–π –ø—Ä–∏–∑–Ω–∞–∫ year_release, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –≥–æ–¥—É –≤—ã–ø—É—Å–∫–∞ —Ñ–∏–ª—å–º–∞.
–£ —Å–∫–æ–ª—å–∫–∏—Ö —Ñ–∏–ª—å–º–æ–≤ –Ω–µ —É–∫–∞–∑–∞–Ω –≥–æ–¥ –∏—Ö –≤—ã–ø—É—Å–∫–∞?

In [11]:
total_movies['year_release'] = total_movies['title'].apply(get_year_release)
total_movies.describe()

print(total_movies['year_release'].isna().value_counts())

year_release
False    100818
True         18
Name: count, dtype: int64

–ö–∞–∫–æ–π —Ñ–∏–ª—å–º, –≤—ã–ø—É—â–µ–Ω–Ω—ã–π –≤ 1999 –≥–æ–¥—É, –ø–æ–ª—É—á–∏–ª –Ω–∞–∏–º–µ–Ω—å—à—É—é —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –∑—Ä–∏—Ç–µ–ª–µ–π?
–í –∫–∞—á–µ—Å—Ç–≤–µ –æ—Ç–≤–µ—Ç–∞ –∑–∞–ø–∏—à–∏—Ç–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —ç—Ç–æ–≥–æ —Ñ–∏–ª—å–º–∞ –±–µ–∑ —É–∫–∞–∑–∞–Ω–∏—è –≥–æ–¥–∞ –µ–≥–æ –≤—ã–ø—É—Å–∫–∞.

In [ ]:
# 1. –§–∏–ª—å—Ç—Ä—É–µ–º —Ñ–∏–ª—å–º—ã –∑–∞ 1999 –≥–æ–¥
movies_1999 = total_movies[total_movies['year_release'] == 1999]

# 2. –°—Ç—Ä–æ–∏–º pivot_table
pivot_1999 = movies_1999.pivot_table(
    values='rating',
    index='title',
    aggfunc='median'
)

# 3. –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —Ä–µ–π—Ç–∏–Ω–≥—É (–ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é –∏–ª–∏ —É–∫–∞–∂–∏ ascending=False –¥–ª—è —É–±—ã–≤–∞–Ω–∏—è)
pivot_1999_sorted = pivot_1999.sort_values(by='rating')

# 4. –í—ã–≤–æ–¥
print(pivot_1999_sorted)

                                          rating
title
Bloodsport: The Dark Kumite (1999)           0.5
Trippin' (1999)                              1.0
Source, The (1999)                           1.0
Chill Factor (1999)                          1.0
Simon Sez (1999)                             1.0
...                                          ...
Larry David: Curb Your Enthusiasm (1999)     5.0
On the Ropes (1999)                          5.0
Mickey's Once Upon a Christmas (1999)        5.0
Trailer Park Boys (1999)                     5.0
Sun Alley (Sonnenallee) (1999)               5.0

[261 rows x 1 columns]

–ö–∞–∫–æ–µ —Å–æ—á–µ—Ç–∞–Ω–∏–µ –∂–∞–Ω—Ä–æ–≤ —Ñ–∏–ª—å–º–æ–≤ (genres), –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –≤ 2010 –≥–æ–¥—É, –ø–æ–ª—É—á–∏–ª–æ –Ω–∞–∏–º–µ–Ω—å—à—É—é —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É (rating)?
–ó–∞–ø–∏—à–∏—Ç–µ —Å–æ—á–µ—Ç–∞–Ω–∏–µ —Ç–∞–∫ –∂–µ, –∫–∞–∫ –æ–Ω–æ —É–∫–∞–∑–∞–Ω–æ –≤ —Ç–∞–±–ª–∏—Ü–µ (—á–µ—Ä–µ–∑ —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª—å |, –±–µ–∑ –ø—Ä–æ–±–µ–ª–æ–≤).

In [19]:
movies_2010 = total_movies[total_movies['year_release'] == 2010]

pivot_2010 = movies_2010.pivot_table(
    values='rating',
    columns='genres',
    aggfunc='median'
)

# 3. –°–æ—Ä—Ç–∏—Ä—É–µ–º –ø–æ —Ä–µ–π—Ç–∏–Ω–≥—É (–ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é –∏–ª–∏ —É–∫–∞–∂–∏ ascending=False –¥–ª—è —É–±—ã–≤–∞–Ω–∏—è)
pivot_2010_sorted = pd.melt(pivot_2010).sort_values(by='value')

pivot_2010_sorted

                               genres  value
46                      Action|Sci-Fi   1.00
14            Action|Adventure|Horror   1.50
36               Action|Drama|Fantasy   1.50
87                      Crime|Romance   1.50
55           Adventure|Comedy|Fantasy   1.75
..                                ...    ...
82                              Crime   4.75
52  Adventure|Children|Comedy|Mystery   5.00
65         Animation|Children|Mystery   5.00
67    Animation|Drama|Fantasy|Mystery   5.00
78                     Comedy|Musical   5.00

[119 rows x 2 columns]

In [20]:
total_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [21]:
# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, df ‚Äî —Ç–≤–æ–π DataFrame
# 1. –°–æ–∑–¥–∞—ë–º —Å–≤–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É: —Å—Ç—Ä–æ–∫–∏ ‚Äî userId, –∫–æ–ª–æ–Ω–∫–∏ ‚Äî genres, –∑–Ω–∞—á–µ–Ω–∏—è ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤
pivot = total_movies.pivot_table(
    index='userId',
    columns='genres',
    values='movieId',
    aggfunc='count',
    fill_value=0
)

# 2. –ü—Ä–µ–≤—Ä–∞—â–∞–µ–º –∑–Ω–∞—á–µ–Ω–∏—è –≤ 1/0 ‚Äî —Å–º–æ—Ç—Ä–µ–ª –∏–ª–∏ –Ω–µ—Ç
pivot_binary = pivot.applymap(lambda x: 1 if x > 0 else 0) # pyright: ignore[reportCallIssue]

# 3. –°—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∂–∞–Ω—Ä–æ–≤—ã—Ö –∫–æ–º–±–∏–Ω–∞—Ü–∏–π —Å–º–æ—Ç—Ä–µ–ª –∫–∞–∂–¥—ã–π –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å
genre_combinations_count = pivot_binary.sum(axis=1)

# 4. –ù–∞—Ö–æ–¥–∏–º userId —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º —á–∏—Å–ª–æ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫–æ–º–±–∏–Ω–∞—Ü–∏–π –∂–∞–Ω—Ä–æ–≤
top_user = genre_combinations_count.idxmax()

print("üîé –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º —á–∏—Å–ª–æ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫–æ–º–±–∏–Ω–∞—Ü–∏–π –∂–∞–Ω—Ä–æ–≤:", top_user)

C:\Users\ykarabekov\AppData\Local\Temp\ipykernel_18004\2433144061.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  pivot_binary = pivot.applymap(lambda x: 1 if x > 0 else 0) # pyright: ignore[reportCallIssue]

üîé –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å —Å –Ω–∞–∏–±–æ–ª—å—à–∏–º —á–∏—Å–ª–æ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∫–æ–º–±–∏–Ω–∞—Ü–∏–π –∂–∞–Ω—Ä–æ–≤: 599

In [22]:
pivot = total_movies.pivot_table(
    index='userId',
    values='rating',
    aggfunc={'rating': ['count', 'mean']}
)

# –£–±–∏—Ä–∞–µ–º –º–Ω–æ–≥–æ—É—Ä–æ–≤–Ω–µ–≤–æ—Å—Ç—å –∏ –∑–∞–¥–∞—ë–º —á–∏—Ç–∞–µ–º—ã–µ –∏–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–∫–∞–º
pivot.columns = ['rating_count', 'rating_mean']

# 1. –ù–∞—Ö–æ–¥–∏–º –º–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫
min_count = pivot['rating_count'].min()

# 2. –§–∏–ª—å—Ç—Ä—É–µ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å —ç—Ç–∏–º —á–∏—Å–ª–æ–º –æ—Ü–µ–Ω–æ–∫
min_count_users = pivot[pivot['rating_count'] == min_count]

# 3. –ù–∞—Ö–æ–¥–∏–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π —Å—Ä–µ–¥–∏ –Ω–∏—Ö
top_user = min_count_users['rating_mean'].idxmax()

print("üîé –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å:", top_user)

üîé –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å: 53

In [26]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ 2018 –≥–æ–¥—É
df_2018 = total_movies[total_movies['year_release'] == 2018]

# –°–≤–æ–¥–Ω–∞—è —Ç–∞–±–ª–∏—Ü–∞: genres -> count –∏ mean –ø–æ —Ä–µ–π—Ç–∏–Ω–≥—É
pivot = df_2018.pivot_table(
    index='genres',
    values='rating',
    aggfunc={'rating': ['count', 'mean']}
)

# –£–ø—Ä–æ—â–∞–µ–º –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–æ–∫
pivot.columns = ['rating_count', 'rating_mean']

# –û—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ —Ç–µ –∂–∞–Ω—Ä—ã, —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª—å—à–µ 10 –æ—Ü–µ–Ω–æ–∫
filtered = pivot[pivot['rating_count'] > 10]

# –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ —É–±—ã–≤–∞–Ω–∏—é —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–∏
sorted_pivot = filtered.sort_values(by='rating_mean', ascending=False)

# –í—ã–≤–æ–¥–∏–º —Ç–∞–±–ª–∏—Ü—É
print(sorted_pivot.head(10))  # –∏–ª–∏ –±–µ–∑ .head() ‚Äî –ø–æ–∫–∞–∂–µ—Ç –≤—Å—é —Ç–∞–±–ª–∏—Ü—É

                         rating_count  rating_mean
genres
Action|Adventure|Sci-Fi            14     3.928571
Action|Comedy|Sci-Fi               12     3.875000