In [1]:
import pandas as pd

dataset = pd.read_csv('data/MovieLens/dates.csv')
movies = pd.read_csv('data/MovieLens/movies.csv')
ratings1 = pd.read_csv('data/MovieLens/ratings1.csv')
ratings2 = pd.read_csv('data/MovieLens/ratings2.csv')

In [2]:
movies['title'].nunique()
ratings1['userId'].nunique()

274

In [3]:
dataset['date'] = pd.to_datetime(dataset['date'])
dataset['year'] = dataset['date'].dt.year
dataset['year'].mode()

0    2000
Name: year, dtype: int32

In [4]:
ratings = pd.concat([ratings1, ratings2], ignore_index=True)
display(ratings)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

In [5]:
ratings = ratings.drop_duplicates(ignore_index=True)
print('Число строк в таблице ratings: ', ratings.shape[0])
# Число строк в таблице ratings: 100836

Число строк в таблице ratings:  100836

In [7]:
ratings_dates = pd.concat([ratings, dataset], axis=1)
display(ratings_dates.tail(7))

        userId  movieId  rating                date  year
100829     610   164179     5.0 2017-05-03 21:07:11  2017
100830     610   166528     4.0 2017-05-04 06:29:25  2017
100831     610   166534     4.0 2017-05-03 21:53:22  2017
100832     610   168248     5.0 2017-05-03 22:21:31  2017
100833     610   168250     5.0 2017-05-08 19:50:47  2017
100834     610   168252     5.0 2017-05-03 21:19:12  2017
100835     610   170875     3.0 2017-05-03 21:20:15  2017

In [ ]:
import pandas as pd

items_df = pd.DataFrame({
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
            'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
            'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
        })

purchase_df = pd.DataFrame({
            'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
            'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
        })


# 1. Объединение таблиц по item_id
merged = items_df.merge(purchase_df, on='item_id', how='inner')
display(merged)
temp = merged.copy()

temp['total_price'] = merged['price'] * merged['stock_count']

# 2. Расчёт общего дохода (только по совпавшим item_id)
income = temp['total_price'].sum()

print(income)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

19729490
263710