In [ ]:
import pandas as pd

sity_data = pd.read_csv('data/ufo.csv', sep=',')

In [ ]:
sity_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
sity_data['Time'] = pd.to_datetime(sity_data['Time'], errors='coerce')

# Извлекаем год
sity_data['Year'] = sity_data['Time'].dt.year

sity_data['Year'].mode()

0    1999
Name: Year, dtype: int32

In [ ]:
nevada_data = sity_data[sity_data['State'] == 'NV'].copy()
nevada_data['Delta'] = nevada_data['Time'].diff()
# Средний интервал в днях
average_interval = nevada_data['Delta'].dt.total_seconds().mean() / 86400  # секунд в сутках

print(f"Средний интервал между наблюдениями НЛО в Неваде: {average_interval:.2f} дня")

Средний интервал между наблюдениями НЛО в Неваде: 68.93 дня

In [ ]:
sity_data['Shape Reported'].nunique()

27