In [4]:
import pandas as pd

stud_data = pd.read_csv('data/students_performance.csv', sep=',')

In [ ]:
stud_data.shape

(1000, 8)

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

Каков балл по письму у студента под индексом 155?

In [10]:
stud_data.loc[155, 'writing score']

np.int64(88)

In [11]:
stud_data.isnull().sum().sum()

np.int64(0)

In [12]:
stud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
stud_data['math score'].mean()

np.float64(66.089)

In [13]:
stud_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
stud_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [18]:
mask = stud_data['test preparation course'] == 'completed'
stud_data[mask]['reading score'].mean()

np.float64(73.89385474860335)

In [19]:
mask = stud_data['math score'] == 0
stud_data[mask].count()

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

In [ ]:
mask = stud_data['lunch']  == 'stan'
stud_data[mask]['math score'].mean()

nan