In [2]:
import pandas as pd

stud_data = pd.read_csv('data/students_performance.csv', sep=',')

In [3]:
stud_data.shape

(1000, 8)

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

Каков балл по письму у студента под индексом 155?

In [4]:
stud_data.loc[155, 'writing score']

np.int64(88)

In [5]:
stud_data.isnull().sum().sum()

np.int64(0)

In [6]:
stud_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
stud_data['math score'].mean()

np.float64(66.089)

In [8]:
stud_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [9]:
stud_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [10]:
mask = stud_data['test preparation course'] == 'completed'
stud_data[mask]['reading score'].mean()

np.float64(73.89385474860335)

In [11]:
mask = stud_data['math score'] == 0
stud_data[mask].count()

gender                         1
race/ethnicity                 1
parental level of education    1
lunch                          1
test preparation course        1
math score                     1
reading score                  1
writing score                  1
dtype: int64

In [12]:
mask = stud_data['lunch']  == 'standard'
stud_data[mask]['math score'].mean()

np.float64(70.03410852713178)

In [13]:
mask = stud_data['lunch']  == 'free/reduced'
stud_data[mask]['math score'].mean()

np.float64(58.92112676056338)

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.

In [15]:
stud_data['parental level of education'].value_counts(normalize=True) * 100

parental level of education
some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: proportion, dtype: float64

In [17]:
# - 'race/ethnicity' — расовая группа
# - 'writing score' — баллы по письму

median_A = stud_data[stud_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_C = stud_data[stud_data['race/ethnicity'] == 'group C']['writing score'].mean()

difference = abs(median_A - mean_C)
print(round(difference))

6

In [20]:
stud_data.describe(include='all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000